#app {
  margin: 0;
  width: 100vw;
  background-color: #fffefb;
}

@media (prefers-color-scheme: dark) {
  #app{
    color: rgb(243, 245, 247);
    background-color: rgb(16, 16, 16);
  }
  .icon{
    filter: invert(100%);
  }
}