.card {
  background-color: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.user-image {
  border: solid 2px rgb(234, 231, 227) !important;
}

li {
  background-color: #f0f0f0 !important;
}

.navbar-color {
  background-color: rgb(234, 231, 227) !important;
}

.nav-item {
  background-color: rgb(234, 231, 227) !important;
}

.list-group-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-dark {
  background-color: #212529 !important;
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: rgb(24, 21, 17) !important;
    border: solid 1px rgb(55, 55, 55) !important;
    color: #fff;
  }
  .user-image {
    border: solid 2px rgb(33, 33, 33) !important;
  }
  .list-group-item {
    background-color: rgb(24, 21, 17) !important;
    border-color: rgb(55, 55, 55) !important;
    color: #fff;
  }
  .card-header {
    border-bottom: solid 1px rgb(55, 55, 55) !important;
  }
}
